
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Nunito&display=swap');
.body{
    font-family: 'Nunito', sans-serif;
}

.table-item{
    padding-top: 1.2rem!important;
}

.font-caveat{
    font-family: 'Caveat', cursive;
}

.title-navbar{
    display: flex!important;
    font-size: 1.7rem !important;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.alert-fixed {
    width: fit-content;
    margin: auto;
}

.text-center {
    text-align: center;
}

.icon-nav{
    max-width: 1.6rem!important;
    margin-left: 0.7rem;
}

.alert-fit-content{
    margin-left: 1rem;
    width: fit-content;
}